{% extends 'adminapp/dashboardbase.html' %}
{% block title %}Category{% endblock  %}


{% block content %} 


  {% if messages %}
  
  {% for message in messages %}
  
  <div class="text-center text-danger">
  <strong>{{message}}</strong>
  </div>
  {% endfor %}
  {% endif %}
  
<!--Add category  Modal -->
<div class="modal fade" id="addCategory" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Add Category</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
    
          <form action="{% url 'createcategory'%}"  enctype="multipart/form-data" method="POST">
            {% csrf_token %}
            <div style="width: 100px;" class="card-header category-img position-relative overflow-hidden bg-transparent border p-0">
            </div> 
            <div class="form-outline mb-4">
              <input name="image" type="file" accept="image/png, image/jpeg, image/svg" class="form-control" id="image-input"/>
              <small id="image-error" class="text-danger text-center"></small>
            </div>
            <div class="form-outline mb-4">
              <input name='categories' type="text" id="form3Example3cg" class="form-control form-control-lg" />
              <label class="form-label" for="form3Example3cg">Category name</label>
            </div>
          <div class="form-outline mb-4">
            <input name='categories_discription'   type="text" id="form3Example3cg" class="form-control form-control-lg" />
            <label class="form-label" for="form3Example3cg">Description</label>
          </div>
           <div class="d-flex justify-content-center">
              <button type="submit"
                class="btn btn-danger btn-lg gradient-custom-4 w-50 text-light" type="submit">Save Changes</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    </div>
    <!--end of add Category modal-->
 
<div class="col-lg-12 grid-margin stretch-card">
    
  <div class="card">
    <div class="card-body">
        <!-- Button trigger modal -->
<a type="button" class="btn btn-primary w-60" style="margin-top: 20px;margin-left: 10px;" data-bs-toggle="modal" data-bs-target="#addCategory">
    <i class="fa fa-plus">Add Category</i>
  </a>
        <div class="search-field d-none d-xl-block" style="float: right;">
          <form action="{%url 'search_category'%}">
            <input type="text" placeholder="Search..." name="keyword" style="border-radius: 20px; height: 40px; text-align: center; font-size: 16px;">
            <button type="submit" style="display: none;"></button>
        </form>
          </div>
          <br>
          <br>

    
      <h4 class="card-title">Categories</h4>
     
      <table class="table table-striped">
        <thead>
            <tr>
              <th scope="col">id</th>
              <th scope="col">image</th>
              <th scope="col">Category name</th>
              <th scope="col">Description</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
      <tbody>
        {% for c in category %}

        <tr>
          <td>  {{c.id}}  </td>
          <td>
            <div style="width: 60px;" class="overflow-hidden">
              <img class="w-100" src=" {{c.categories_image.url}} " alt="">
            </div>
          </td>
          <td>  {{c.categories}} </td>
          <td>  {{c.categories_discription}} </td>
          <!-- edit -->
          <td>
            <!-- Button trigger modal -->
            <a type="button" class="fs-7 btn btn-warning"  data-bs-toggle="modal" data-bs-target="#confirmEdit{{forloop.counter}}">
              <i title="" class="fa fa-edit text-black">edit</i>
            </a> 
            <!--Edit Modal -->
             <div class="modal fade" id="confirmEdit{{forloop.counter}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog">

                <div class="modal-content">
                  <div class="modal-header">
                    <h3 class="modal-title fs-5" id="exampleModalLabel">Edit Category</h3>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <form  method="POST" action="{% url 'editcategory' c.slug %}"  enctype="multipart/form-data">
                      {% csrf_token %}

                      <div style="width: 100px;" class="card-header category-img position-relative overflow-hidden bg-transparent border p-0">
                        <img class="img-fluid w-100" src="{{c.categories_image.url}} " alt="">
                      </div> 
      
                      <div class="form-outline mb-4">
                        <input name="image" type="file" accept="image/png, image/jpeg, image/svg" class="form-control"id="image-inputs"/>
                        <small id="image-errors" class="text-danger text-center"></small>
                      </div>

                      <div class="form-outline mb-4">
                        <input name='categories' value="{{c.categories}}"  type="text" id="form3Example3cg" class="form-control form-control-lg" />
                        <label class="form-label" for="form3Example3cg">Category name</label>
                      </div>
                    <div class="form-outline mb-4">
                      <input name='categories_discription' value="{{c.categories_discription}}"  type="text" id="form3Example3cg" class="form-control form-control-lg" />
                      <label class="form-label" for="form3Example3cg">Description</label>
                    </div>
                     <div class="d-flex justify-content-center">
                        <button type="submit"
                          class="btn btn-primary btn-lg gradient-custom-4 w-50 text-light" type="submit" >Save Changes</button>
                      </div>
      
                    </form>
                  </div>
                </div>
              </div>
             </div>

            <!-- Button trigger modal -->
           
              <button type="button" class="btn btn-danger text-black" data-bs-toggle="modal" data-bs-target="#exampleModal{{forloop.counter}}">
                Delete
              </button>
          </td>
              <!-- Modal  for delete the Category -->
              <div class="modal fade" id="exampleModal{{forloop.counter}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h1 class="modal-title fs-5" id="exampleModalLabel">Delete</h1>
                      <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                      delete Category {{c.categories }}
                    </div>
                    <div class="modal-footer">
                        <!-- one here -->
                      <form action="{% url 'deletecategory' c.id %}" >
                          
                        <button type="submit" class="btn btn-danger">Confirm</button>
                      </form>
                      <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>

          </td>
          <!--deleting ended-->

       </tr>
      {% endfor %}
      </tbody>
      </table>
   <!-- Pagination links -->
<div class="pagination justify-content-center mt-4">
  <ul class="pagination">

      {% if category.has_previous %}
          <li class="page-item">
              <a class="page-link" href="?page=1">&laquo; first</a>
          </li>
          <li class="page-item">
              <a class="page-link" href="?page={{ category.previous_page_number }}">previous</a>
          </li>
      {% endif %}

      <li class="page-item disabled">
          <span class="page-link">Page {{ category.number }} of {{ category.paginator.num_pages }}.</span>
      </li>

      {% if category.has_next %}
          <li class="page-item">
              <a class="page-link" href="?page={{ category.next_page_number }}">next</a>
          </li>
          <li class="page-item">
              <a class="page-link" href="?page={{ category.paginator.num_pages }}">last &raquo;</a>
          </li>
      {% endif %}

  </ul>
</div>
    
    </div>
  </div>
</div>
{% if message %}
<div class="message"><a href="{%url 'categories'%}">
    <h4 class="font-weight-bold text-center pt-5" style="color: #403c3c52;font-weight: bold;">{{ message }}</h4> </a></div>
{% endif %}
{% endblock %}