{% load static %}
<!DOCTYPE html>
<html lang="en">



<!-- molla/index-20.html  22 Nov 2019 10:01:15 GMT -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %} {% endblock %}</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Molla - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'user/images/icons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'user/images/icons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'user/images/icons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'user/images/icons/site.html' %}">
    <link rel="mask-icon" href="{% static 'user/images/icons/safari-pinned-tab.svg' %}" color="#666666">
    <link rel="shortcut icon" href="{% static 'user/images/icons/favicon.ico' %}">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="{% static 'user/images/icons/browserconfig.xml' %}">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="{% static 'user/vendor/line-awesome/line-awesome/line-awesome/css/line-awesome.min.css' %}">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="{% static 'user/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'user/css/plugins/owl-carousel/owl.carousel.css' %}">
    <link rel="stylesheet" href="{% static 'user/css/plugins/magnific-popup/magnific-popup.css' %}">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="{% static 'user/css/style.css' %}">
    <link rel="stylesheet" href="{% static 'user/css/skins/skin-demo-20.css' %}">
    <link rel="stylesheet" href="{% static 'user/css/demos/demo-20.css' %}">
</head>

<body>

    <!-- navbar -->
    {% include 'includes/navbar.html' %}

    {% block content %}
    
    <!-- content -->
        <div class="sidebar-filter-overlay"></div><!-- End .sidebar-filter-overlay -->
                    
    {% endblock %}

    <script src="{% static 'checkout.js' %}"></script>
    
    <script src="{% static 'jquery/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'sweetalert/sweetalert.min.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <script src="{% static 'alertifyjs/alertify.min.js' %}"></script>
    <script src="{% static 'razorpay/checkout.js' %}"></script>

    <!-- Plugins JS File -->
    <script src="{% static 'user/js/wNumb.js' %}"></script>
    <script src="{% static 'user/js/bootstrap-input-spinner.js' %}"></script>
    <script src="{% static 'user/js/nouislider.min.js' %}"></script>    
    <script src="{% static 'user/js/jquery.min.js' %}"></script>
    <script src="{% static 'user/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'user/js/jquery.hoverIntent.min.js' %}"></script>
    <script src="{% static 'user/js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'user/js/superfish.min.js' %}"></script>
    <script src="{% static 'user/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'user/js/jquery.magnific-popup.min.js' %}"></script>
    
    <script src="{% static 'user/js/demos/demo-20.js' %}"></script>
    <!-- Main JS File -->
    <script src="{% static 'user/js/main.js' %}"></script>
    
</body>
    <!-- footer -->
    {% include 'includes/footer.html' %}