<div class="products">
    <div class="row">
        <p> helooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooooo  </p>
        {% for j in products %}
        <div  href="{% url 'product_detail' j.id %}" class="col-6 col-md-4 col-lg-4 col-xl-3">
            <div class="product">
                <figure class="product-media">
                    <a href="{% url 'product_detail' j.id %}">
                        <img src="{{j.product_image.url}}" alt="Product image" class="product-image" onclick="window.location.href='{% url 'product_detail' j.id %}';">
                    </a>
                    <div class="product-action-vertical">
                        <a href="#" class="btn-product-icon btn-wishlist btn-expandable addToWishlistLink" data-product_id="{{ j.id }}"><span>Add to Wishlist</span></a>
                    </div><!-- End .product-action -->
                </figure><!-- End .product-media -->

                <div class="product-body">
                    <div class="product-cat">
                        <a href="#">{{ j.author }}</a>
                    </div><!-- End .product-cat -->
                    
                    <h3 class="product-title"><a href="{% url 'product_detail' j.id %}" style="font-size: 18px; text-transform: uppercase;">{{ j.product_name }}</a></h3><!-- End .product-title -->
                    
                    <div class="product-price" style="font-size: 20px;">
                        {% if j.offer %}
                        <del class="text-danger">₹ {{ j.product_price }}</del>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{ j.get_offer }}
                        {% else %}
                        ₹ {{ j.product_price }}
                        {% endif %}
                    </div><!-- End .product-price -->
                    
                    <p style="font-size: 18px;">{{ j.category }}</p><!-- End .description -->
                    <br>
                    <p style="font-size: 15px;">{{ j.product_description }}</p>
                </div><!-- End .product-body -->
                
                <div class="product-action">
                    <button class="add-to-cart-btn btn btn-link" data-product_id="{{ j.id }}">Add to Cart</button>
                </div><!-- End .product-action -->
            </div><!-- End .product -->
        </div><!-- End .col-sm-6 col-lg-4 col-xl-3 -->
        {% endfor %}
    </div><!-- End .row -->
</div><!-- End .products -->
