{% extends 'base.html' %}
{% load static %}
{% block title %} Product {% endblock %}
{% block content %}
{% csrf_token %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="http://127.0.0.1:8000/static/user/js/bootstrap.bundle.min.js"></script>

<nav aria-label="breadcrumb" class="breadcrumb-nav mb-2">
    <div class="container">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'product_show' %}">Products</a></li>
            <li class="breadcrumb-item active" aria-current="page">Product</li>
        </ol>
    </div><!-- End .container -->
</nav><!-- End .breadcrumb-nav -->
    <br><br>       
<main class="main">
    <div class="page-content">
        <div class="container">
            <div class="product-details-top">
                <div class="row">
                    <div class="col-md-6">
                        <div class="product-gallery">
                            <figure class="product-main-image">
                                <img id="product-zoom" src="{{pro_detail.product_image.url}}" alt="product image">

                                
                            </figure><!-- End .product-main-image -->

                            <!-- End .product-image-gallery -->
                        </div><!-- End .product-gallery -->
                    </div><!-- End .col-md-6 -->

                    <div class="col-md-6">
                        <br><br><br>
                        <div class="product-details sticky-content">
                            <h1 class="product-title" style="font-size: 30px; text-transform: uppercase;">{{pro_detail.product_name}}</h1><!-- End .product-title -->

                            <br>

                            <div class="product-price" style="font-size: 30px;">
                                {% if pro_detail.offer %}
                                    <del class="text-danger">₹ {{ pro_detail.product_price }}</del>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;₹ {{ pro_detail.get_offer }}
                                {% else %}
                                    ₹ {{ pro_detail.product_price }} 
                                {% endif %}
                            </div>

                            <br>
                            <br>

                            <div class="product-details-action" style="font-size: 75px;">
                                <button class="add-to-cart-btn btn btn-light " data-product_id="{{ pro_detail.id }}" style="padding: 20px; line-height: 1.5; font-size: 20px;">Add to Cart</button>
                                <button class="addToWishlist btn btn-link " data-product_id="{{ pro_detail.id }}" style="padding: 20px; line-height: 1.5; font-size: 20px;">Add to Wishlist</button>

                            </div><!-- End .product-details-action -->

                            <div class="accordion accordion-plus product-details-accordion" id="product-accordion">
                                <div class="card card-box card-sm">
                                    <div class="card-header" id="product-desc-heading">
                                        <h2 class="card-title">
                                            <a class="collapsed" role="button" data-toggle="collapse" href="#product-accordion-desc" aria-expanded="false" aria-controls="product-accordion-desc" style="font-size: 18px;">
                                                Description
                                            </a>
                                        </h2>
                                    </div><!-- End .card-header -->
                                    <div id="product-accordion-desc" class="collapse" aria-labelledby="product-desc-heading" data-parent="#product-accordion">
                                        <div class="card-body">
                                            <div class="product-desc-content">
                                                <p style="font-size: 18px;">{{pro_detail.product_description_detailed}}</p>
                                            </div><!-- End .product-desc-content -->
                                        </div><!-- End .card-body -->
                                    </div><!-- End .collapse -->
                                </div><!-- End .card -->

                                

                                <div class="card card-box card-sm">
                                    <div class="card-header" id="product-shipping-heading">
                                        <h2 class="card-title">
                                            <a role="button" data-toggle="collapse" href="#product-accordion-shipping" aria-expanded="true" aria-controls="product-accordion-shipping">
                                                Shipping & Returns
                                            </a>
                                        </h2>
                                    </div><!-- End .card-header -->
                                    <div id="product-accordion-shipping" class="collapse show" aria-labelledby="product-shipping-heading" data-parent="#product-accordion">
                                        <div class="card-body">
                                            <div class="product-desc-content">
                                                <p style="font-size: 18px;">We deliver to over 100 countries around the world. For full details of the delivery options we offer, please view our <a href="#">Delivery information</a><br>
                                                We hope you’ll love every purchase, but if you ever need to return an item you can do so within a month of receipt. For full details of how to make a return, please view our <a href="#">Returns information</a></p>
                                            </div><!-- End .product-desc-content -->
                                        </div><!-- End .card-body -->
                                    </div><!-- End .collapse -->
                                </div><!-- End .card -->
                            </div><!-- End .accordion -->
                        </div><!-- End .product-details -->
                    </div><!-- End .col-md-6 -->
                </div><!-- End .row -->
            </div><!-- End .product-details-top -->

            <hr class="mt-3 mb-5">

            <h2 class="title text-center mb-4">You May Also Like</h2><!-- End .title text-center -->
            <div class="owl-carousel owl-simple carousel-equal-height carousel-with-shadow" data-toggle="owl" 
                data-owl-options='{
                    "nav": false, 
                    "dots": true,
                    "margin": 20,
                    "loop": false,
                    "responsive": {
                        "0": {
                            "items":1
                        },
                        "480": {
                            "items":2
                        },
                        "768": {
                            "items":3
                        },
                        "992": {
                            "items":4
                        },
                        "1200": {
                            "items":4,
                            "nav": true,
                            "dots": false
                        }
                    }
                }'>
                {% for k in allpro %}
                <div class="product product-7">
                    <figure class="product-media">
                        <a href="{% url 'product_detail' k.id %}">
                            <img src="{{k.product_image.url}}" alt="Product image" class="product-image" onclick="window.location.href='{% url 'product_detail' k.id %}';"> <!-- image fields -->
                        </a>
                        
                        <div class="product-action-vertical">

                    </figure><!-- End .product-media -->
                    <div class="product-body">
                        <div class="product-cat">
                            <a href="#" style="font-size: 20px;">{{k.category}}</a>
                        </div><!-- End .product-cat -->
                        <h3 class="product-title"><a href="{% url 'product_detail' k.id %}" style="font-size: 18px; text-transform: uppercase;">{{k.product_name}}</a></h3><!-- End .product-title -->
                        <div class="product-price" style="font-size: 20px;">
                            {% if k.offer %}
                            <del class="text-danger">₹  {{k.product_price}}</del>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; {{k.get_offer}}
                            {% else %}
                            ₹ {{k.product_price}} 
                            {% endif %}
                        </div><!-- End .product-price -->
                        <p style="font-size: 15px;">{{k.product_description}}</p>
                    </div><!-- End .product-body -->
                </div><!-- End .product -->
                {% endfor %}
            </div><!-- End .owl-carousel -->
        </div><!-- End .container -->
    </div><!-- End .page-content -->
</main><!-- End .main -->
</div><!-- End .page-wrapper -->

    
</body>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script>
    $('.add-to-cart-btn').click(function(e) {
      e.preventDefault();
      console.log('2222222222222222222222222222222222222222222222222222222222222222222222')
     
      var product_id = $(this).data('product_id');
      var quantity = 1; // Or get quantity from a form input field
      console.log(product_id,'111111111111111111111111111111111111111111111111111111111111')
      
      $.ajax({
        method: "POST",
        url: "{% url 'add_cart' %}",
        data: {
          'product_qty': 1,
          'prod_id': product_id,
          csrfmiddlewaretoken: '{{ csrf_token }}'
        },
        success: function(response) {
          console.log(response);
          
          if (response.status === 'Product already in Cart' || response.status === 'No such product found' || response.status === 'Only few quantity available') {
            swal("Error!", response.status, "error");
            $('.cartdata').load(location.href + " .cartdata");
          } else if (response.status === 'product added successfully') {
            swal("Congratulations!", response.status, "success");
            $('.cartdata').load(location.href + " .cartdata");
          } else {
            swal("Error!", response.status, "error");
            $('.cartdata').load(location.href + " .cartdata");
          }
        }
      });
    });
  </script>
<script>
    $('.add-to-cart-btn').click(function(e) {
      e.preventDefault();
     
      var product_id = $(this).data('product_id');
      var quantity = 1; // Or get quantity from a form input field
      console.log(product_id,'111111')
      
      $.ajax({
        method: "POST",
        url: "{% url 'add_cart' %}",
        data: {
          'product_qty': quantity,
          'prod_id': product_id,
          csrfmiddlewaretoken: '{{ csrf_token }}'
        },
        success: function(response) {
          console.log(response);
          
          if (response.status === 'Product already in Cart' || response.status === 'No such product found' || response.status === 'Only few quantity available') {
            swal("Error!", response.status, "error");
            $('.cartdata').load(location.href + " .cartdata");
          } else if (response.status === 'product added successfully') {
            swal("Congratulations!", response.status, "success");
            $('.cartdata').load(location.href + " .cartdata");
          } else {
            swal("Error!", response.status, "error");
            $('.cartdata').load(location.href + " .cartdata");
          }
        }
      });
    });
  </script>
  
   <script>
    $('.addToWishlist').click(function(e) {
      e.preventDefault();
     
      var product_id = $(this).data('product_id');
      
      
      $.ajax({
        method: "POST",
         url: "{% url 'add_wishlist' %}", 
        data: {
          'prod_id': product_id,
          csrfmiddlewaretoken: '{{ csrf_token }}'
        },
        success: function(response) {
          console.log(response);
          
          if (response.status === 'Product already in wishlist' || response.status === 'No such product found' || response.status === 'Only few quantity available') {
            swal("Error!", response.status, "error");
            $('.cartdata').load(location.href + " .cartdata");
          } else if (response.status === 'product Added to in wishlist') {
            swal("Congratulations!", response.status, "success");
            $('.cartdata').load(location.href + " .cartdata");
          } else {
            swal("Error!", response.status, "error");
            $('.cartdata').load(location.href + " .cartdata");
          }
        }
      });
    });
  </script> 



</html>
{% endblock %}