

{% extends 'base.html' %}
{% load static %}
{% load total %}  
{% block title %} Cart {% endblock %}
{% load mathfilters %}
{% block content %}
<style>
    /* Custom button styles */
    .btn-custom {
        display: inline-block;
        padding: 5px 10px;
        width: -30px;
        background-color: #f2f2f2;
        border: 1px solid #ccc;
        cursor: pointer;
        border-radius: 4px;
        text-align: center;
        line-height: 1;
    }

    .btn-custom i {
        font-size: 14px;
    }


    /* Card Styles */
    .cart-card {
        border: 1px solid #e0e0e0;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        padding: 50px;
        background-color: #ffffff;
    }

    .cart-card-title {
        font-size: 20px;
        font-weight: bold;
        color: #1cc0a0;
        margin-bottom: 20px;
    }

    .cart-item {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
    }

    .cart-item-label {
        color: #707070;
    }

    .cart-item-value {
        font-weight: bold;
    }

    .proceed-btn {
        background-color: #1cc0a0;
        color: #fff;
        border: none;
        border-radius: 30px;
        padding: 10px 20px;
        font-size: 16px;
        cursor: pointer;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .proceed-btn:hover {
        background-color: #0ea082;
    }
</style>

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
    rel="stylesheet">
<!-- SweetAlert CSS CDN -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.min.css">

<br><br>
<br><br>
<!-- breadcrumb -->
<div class="container">
    <div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
        <a href="{% url 'home' %}" class="stext-109 cl8 hov-cl1 trans-04">
            Home
            <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
        </a>

        <span class="stext-109 cl4">
            Shopping Cart
        </span>
    </div>
</div>
    
{% if not cart %}
<br>
<br>
<br>
<h4 class="text-center font-weight-bold" style="color: #060000;" >Your Shopping Cart is Empty</h4>
<br>
<br>
<br>
<br>
<br>
<div class="col-sm-10 col-lg-7 col-xl-5 m-lr-auto m-b-50">

    <div style="text-align: center;">
        <button class="btn" type="button" style="background-color: #15a78a; border: none; border-radius: 4px; padding: 10px 20px; color: #fff; font-size: 16px; cursor: pointer;">
            <a href="{% url 'home' %}" style="color: #fff; text-decoration: none;">Continue Shopping</a>
        </button>
    </div>
    

</div>
<br>
<br>
<br>
{% else %}

<!-- Shoping Cart -->
<form class="bg0 p-t-75 p-b-85">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="table-responsive">
                    <table style="width: 100%; text-align: center; border-collapse: collapse;" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>Product</th>
                                <th>Product Name</th>
                                <th>Price</th>
                                <th style="max-width: 80px !important;">Quantity</th>
                                <th>Total</th>
                                <th>Remove</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for item in cart %}
                            <tr class="table_row" id="product-div{{item.product.id}}">
                                <td>
                                    <div class="product-image" style="display: flex; justify-content: center; align-items: center;">
                                        <img src="{{item.product.product_image.url}}" alt="IMG" style="max-width: 100px; border-radius: 5px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);">
                                    </div>
                                </td>
                                <td>{{item.product.product_name}}</td>
                                <td>
                                    <div class="product-price" style="font-weight: bold;">
                                        {% if item.product.offer %}
                                            <del class="text-danger" style="color: #e74c3c; margin-right: 5px;">₹{{item.product.product_price}}</del> {{item.product.get_offer}}
                                        {% else %}
                                            ₹{{item.product.product_price}}
                                        {% endif %}
                                    </div>
                                </td>
                                <td style="max-width: 99px !important;">
                                    <div class="input-group quantity" style="display: flex; align-items: center; justify-content: center;">
                                        <div class="input-group-prepend">
                                            <button data-price="{{item.product.price}}" data-productid="{{item.product.id}}" class="btn btn-sm btn-minus changeQuantity" style="background-color: #f2f2f2 !important; border: 1px solid #ccc !important; cursor: pointer !important; padding: 15px !important; width: 30px !important; border-radius: 4px !important;">
                                                <i class="fa fa-minus"></i>
                                            </button>
                                        </div>
                                        <input readonly id="pro_qty{{item.product.id}}" type="text" class="form-control form-control-sm text-center" value="{{item.product_qty}}">
                                        <div class="input-group-append">
                                            <button data-price="{{item.product.price}}" data-productid="{{item.product.id}}" class="btn btn-sm btn-plus changeQuantity" style="background-color: #f2f2f2 !important; border: 1px solid #ccc !important; cursor: pointer !important; padding: 15px !important; width: 30px !important; border-radius: 4px !important;">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                        </div>
                                    </div>
                                </td>
                                
                                
                                
                                
                                
                                <td class="cart__price total" id="single_product_total{{item.product.id}}">
                                    {% if item.product.offer %}
                                        ₹{{ item.product.get_offer|mul:item.product_qty }}
                                    {% else %}
                                        ₹{{ item.product.product_price|mul:item.product_qty }}
                                    {% endif %}
                                </td>
                                <td class="cart__close">
                                    <a class="text-danger" href="{% url 'deletecartitem' item.product.id %}" style="color: #e74c3c; text-decoration: none;">Remove</a> 
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            
            
            <div class="col-lg-5">
                <div class="cart-card">
                    <div class="cart-card-title">
                        Cart Totals
                    </div>
            
                    <div class="cart-item">
                        <div class="cart-item-label">
                            Total Price:
                        </div>
                        <div class="cart-item-value" id="sub_total">
                            ₹ {{ total_price | floatformat:2 }}
                        </div>
                    </div>
                    <div class="cart-item">
                        <div class="cart-item-label">
                            Tax:
                        </div>
                        <div class="cart-item-value" id="tax_field">
                            ₹ {{ tax | floatformat:2 }}
                        </div>
                    </div>
                    <div class="cart-item">
                        <div class="cart-item-label">
                            Grand Total:
                        </div>
                        <div class="cart-item-value" id="grand_total">
                            ₹ {{ grand_total | floatformat:2 }}
                        </div>
                    </div>
            
                    <button type="button" class="proceed-btn" style="background-color: #1cc0a0; color: #fff;" onclick="proceedToCheckout()">
                        <span class="btn-text">Proceed to Checkout</span>
                        <i class="fa fa-arrow-right ml-2"></i>
                    </button>
                </div>
            </div>
            
        </div>
    </div>
</form>
{% endif %}


<!-- jQuery CDN -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- SweetAlert CDN -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.min.js"></script>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script src="{% static 'user/js/main.js' %}"></script>
<script>
    function proceedToCheckout() {
        window.location.href = "{% url 'checkout' %}";
    }
</script>
	
      <script>

        $('.quantity button').on('click', function () {
            var button = $(this);
            var input = button.parent().parent().find('input');
            var oldValue = parseFloat(input.val());
            var newVal;
        
            if (button.hasClass('btn-plus')) {
                newVal = (oldValue < 10) ? oldValue + 1 : 10;  // Increment if less than 10, otherwise keep it as 10
            } else {
                newVal = (oldValue > 1) ? oldValue - 1 : 1;  // Decrement if greater than 1, otherwise keep it as 1
            }
        
            input.val(newVal);
        });
        
        $('.changeQuantity').click(function(e) {
            e.preventDefault();
            var product_id = $(this).data('productid')
            
        
            var product_qty = $('#pro_qty' + product_id).val() 
            console.log(product_qty,"daxo")
            $.ajax({                                                            
                method: "POST",
                url: "{% url 'update_cart' %}",
                data: {
                    'product_id': product_id,
                    'product_qty': product_qty,
                    csrfmiddlewaretoken: '{{csrf_token}}'
                },
             
                success: function(response) {
                    console.log(response);
                    if (response.status === 'Not allowed this Quantity') {
                        swal("Error!", response.status, "error")
                        var checkoutLink = '<a href="#" class="primary-btn">Not allowed this quantity</a>';
                         $("a.primary-btn").replaceWith(checkoutLink);
                    }else{
                    var checkoutLink = '<a href="#" class="primary-btn">Proceed to checkout</a>';
                    $("a.primary-btn").replaceWith(checkoutLink);
                    }
                    sub_total = parseInt(response.sub_total)
                    document.getElementById('sub_total').textContent = sub_total
                    document.getElementById('tax_field').textContent = sub_total * 0.18
                    document.getElementById('grand_total').textContent = sub_total + (sub_total *0.18)
                
                    setTimeout(function() {
                        document.getElementById('single_product_total' + product_id).textContent = response.total_price;
                    }, 100); // A small delay in milliseconds (adjust as needed)
                    console.log(single_product_total, "5555555555555555555555555555555555")
                   
                    
                }
            });
        });
        </script>
      

{% endblock %}