

{% extends 'base1.html' %}
{% load static %}
{% load total %}  
{% block title %} Cart {% endblock %}
{% load mathfilters %}
{% block content %}
<script src="{%static 'cart/css/style.css'%}"></script>
<script src="{%static 'cart/css/style.css.map'%}"></script>
<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300;400;600;700;800;900&display=swap"
    rel="stylesheet">
<!-- SweetAlert CSS CDN -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.min.css">

<br><br>
<br><br>
<!-- breadcrumb -->
<div class="container">
    <div class="bread-crumb flex-w p-l-25 p-r-15 p-t-30 p-lr-0-lg">
        <a href="{% url 'home' %}" class="stext-109 cl8 hov-cl1 trans-04">
            Home
            <i class="fa fa-angle-right m-l-9 m-r-10" aria-hidden="true"></i>
        </a>

        <span class="stext-109 cl4">
            Shopping Cart
        </span>
    </div>
</div>
    
{% if not cart %}
<br>
<br>
<br>
<h4 class="text-center font-weight-bold" style="color: #060000;" >Your Shopping Cart is Empty</h4>
<br>
<br>
<br>
<br>
<br>
<div class="col-sm-10 col-lg-7 col-xl-5 m-lr-auto m-b-50">

    <div style="text-align: center;">
        <button class="btn" type="button" style="background-color: #15a78a; border: none; border-radius: 4px; padding: 10px 20px; color: #fff; font-size: 16px; cursor: pointer;">
            <a href="{% url 'home' %}" style="color: #fff; text-decoration: none;">Continue Shopping</a>
        </button>
    </div>
    

</div>
<br>
<br>
<br>
{% else %}



<!-- Shoping Cart -->
<form class="bg0 p-t-75 p-b-85">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-xl-7 m-lr-auto m-b-50">
                <div class="m-l-25 m-r--38 m-lr-0-xl">
                    <div class="wrap-table-shopping-cart">
                        <table class="table-shopping-cart">
                            <tr class="table_head">
                                <th class="column-1">Product</th>
                                <th class="column-2"></th>
                                <th class="column-3">Price</th>
                                <th class="column-4" style="text-align: center;">Quantity</th>
                                <th class="column-5">Total</th>
                            </tr>
                            {% for item in cart %}
                            <tr class="table_row" id="product-div{{item.product.id}}">
                                <td class="column-1">
                                    <div class="how-itemcart1">
                                        <img src="{{item.product.product_image.url}}" alt="IMG">
                                    </div>
                                </td>
                                <td class="column-2">{{item.product.product_name}}</td>
                                <td class="column-3"> {% if item.product.offer %}<del class="text-danger">₹  {{item.product.product_price}}</del> {{item.product.get_offer}}{% else %}₹ {{item.product.product_price}} {% endif %} </td>
                                <td class="column-4">
                                    <div class="input-group quantity mx-auto" style="max-width: 700px;">
                                        <div class="input-group-btn">
                                            <button data-price="{{item.product.price}}" data-productid="{{item.product.id}}" class="btn btn-sm border border-secondary btn-minus changeQuantity" style="padding: 10px; width: 30px;">
                                                <i class="fa fa-minus"></i>
                                            </button>
                                        </div>
                                
                                        <input readonly id="pro_qty{{item.product.id}}" type="text" class="form-control form-control-sm text-center" value="{{item.product_qty}}">
                                
                                        <div class="input-group-btn sifan">
                                            <button data-price="{{item.product.price}}" data-productid="{{item.product.id}}" class="btn btn-sm border border-secondary btn-plus changeQuantity" style="padding: 10px; width: 30px;">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                        </div>
                                    </div>
                                </td>
                                
                                
                                
                                  
                                <td class="column-5 cart__price total" id="single_product_total{{item.product.id}}">
                                    {% if item.product.offer %}
                                        ₹{{ item.product.get_offer|mul:item.product_qty }}
                                    {% else %}
                                        ₹{{ item.product.product_price|mul:item.product_qty }}
                                    {% endif %}
                                </td>
                                  <td class="cart__close">
                                      <a class="text-danger" href="{% url 'deletecartitem' item.product.id %}" >Remove</a> 
                                  </td>
                              </tr>                                                                           
                              {% endfor %}
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-sm-10 col-lg-7 col-xl-5 m-lr-auto m-b-50">
                <div class="bor10 p-lr-40 p-t-30 p-b-40 m-l-63 m-r-40 m-lr-0-xl p-lr-15-sm">
                    <h4 class="mtext-109 cl2 p-b-30">
                        Cart Totals
                    </h4>

                    <div class="flex-w flex-t bor12 p-b-13">
                        <div class="size-208">
                            <span class="stext-110 cl2">
                                Total Price:
                            </span>
                        </div>

                        <div class="size-209">
                            <span class="mtext-110 cl2" id="sub_total">
                                ₹  {{total_price | floatformat:2}}
                            </span>
                        </div>
                    </div>
                    <div class="flex-w flex-t bor12 p-b-13">
                        <div class="size-208">
                            <span class="stext-110 cl2">
                                Tax:
                            </span>
                        </div>

                        <div class="size-209">
                            <span class="mtext-110 cl2" id="tax_field">
                                ₹  {{tax | floatformat:2}}
                            </span>
                        </div>
                    </div>
                    <div class="flex-w flex-t bor12 p-b-13">
                        <div class="size-208">
                            <span class="stext-110 cl2">
                                Grand Total:
                            </span>
                        </div>

                        <div class="size-209">
                            <span class="mtext-110 cl2" id="grand_total">
                                ₹  {{grand_total | floatformat:2}}
                            </span>
                        </div>
                    </div>

                    

                  <a href="{% url 'checkout' %}" class="flex-c-m stext-101 cl0 size-116 bg3 bor14 hov-btn3 p-lr-15 trans-04 pointer">
                        Proceed to Checkout
                    </a>
                </div>
            </div>
        </div>
    </div>
</form>
{% endif %}

<!-- jQuery CDN -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- SweetAlert CDN -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.0.19/dist/sweetalert2.min.js"></script>



<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>





      <script src="{% static ' js/main.js' %}"></script>
	
      <script>

        $('.quantity button').on('click', function () {
            var button = $(this);
            var input = button.parent().parent().find('input');
            var oldValue = parseFloat(input.val());
            var newVal;
        
            if (button.hasClass('btn-plus')) {
                newVal = (oldValue < 10) ? oldValue + 1 : 10;  // Increment if less than 10, otherwise keep it as 10
            } else {
                newVal = (oldValue > 1) ? oldValue - 1 : 1;  // Decrement if greater than 1, otherwise keep it as 1
            }
        
            input.val(newVal);
        });
        
        $('.changeQuantity').click(function(e) {
            e.preventDefault();
            var product_id = $(this).data('productid')
            
        
            var product_qty = $('#pro_qty' + product_id).val() 
            console.log(product_qty,"daxo")
            $.ajax({                                                            
                method: "POST",
                url: "{% url 'update_cart' %}",
                data: {
                    'product_id': product_id,
                    'product_qty': product_qty,
                    csrfmiddlewaretoken: '{{csrf_token}}'
                },
             
                success: function(response) {
                    console.log(response);
                    if (response.status === 'Not allowed this Quantity') {
                        swal("Error!", response.status, "error")
                        var checkoutLink = '<a href="#" class="primary-btn">Not allowed this quantity</a>';
                         $("a.primary-btn").replaceWith(checkoutLink);
                    }else{
                    var checkoutLink = '<a href="#" class="primary-btn">Proceed to checkout</a>';
                    $("a.primary-btn").replaceWith(checkoutLink);
                    }
                    sub_total = parseInt(response.sub_total)
                    document.getElementById('sub_total').textContent = sub_total
                    document.getElementById('tax_field').textContent = sub_total * 0.18
                    document.getElementById('grand_total').textContent = sub_total + (sub_total *0.18)
                
                    setTimeout(function() {
                        document.getElementById('single_product_total' + product_id).textContent = response.total_price;
                    }, 100); // A small delay in milliseconds (adjust as needed)
                    console.log(single_product_total, "5555555555555555555555555555555555")
                   
                    
                }
            });
        });
        </script>
      

{% endblock %}
